<div class= "card p-3 cardcss1">

<div class= "card cardboarder1">
<div class="card-header">
    <h4><b>Update Student Profile<b></h4>
  </div>
<%= render 'form', student_profile: @student_profile %>
<%= link_to 'Back', student_profiles_path, class:"btn btn-warning" %>
</div>
</div>
</div>
